.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.X{
  background-color: blue;
}
.O{
  background-color: red;
}
button {
    height: 50px;
    width: 50px;
    background-color: black;
    color: white;
}
.App-header {
  background-color: #222;
  height: 114px;
  padding: 19px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
